* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;
    }

    #listProductos{
        display: flex;
        justify-content: center;
    }

    #cajaBotones{
        display: flex;
        justify-content: center;
        padding: 0 20% 0 20%;
    }

    #titulo{
        display: flex;
        justify-content: center;
    }

    #listCarrito{
        padding: 0 20% 0 20%;
        
    }

    .modoDark{
        background-color: black;
        color: white;
    }

    .modoDark .card{
        background-color: black;
        
    }

    .modoDark .modal{
        color: black;
    }

    .modoDark #listCarrito li{
        background-color: black;
        color: rgb(218, 218, 218);
    }
    .modoLight{
        background-color: whitesmoke;
        color: black;
    }

    nav{
        display: flex;
        justify-content: space-around;
       
    }
    
    #contenidoModal{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }




    